<div class="modal fade" id="modal-loading" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalLoading" aria-hidden="true" style="top: 30%; z-index: 1070;">
    <div style="background-color: #6F42C1; color: white; text-align: center">Aguarde, isso pode demorar um pouco...</div>
    <div class="modal-dialog" role="document" style="width: 100px; height: 100px;">
        <div class="modal-content" style="justify-content: center; align-items: center; width: 100px; height: 100px;">
            <div class="loader"></div>
        </div>
    </div>
</div>