{% extends '/login/base_login.html' %}

{% block head %}
    <title>Login - Roteiriza</title>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; max-width: 500px; min-height: 200px; padding-bottom: 2%; margin-top: 20vh; color: #02153D;background-color: white; border-radius: 20px">
        <form method="POST" action="" style="display: grid; justify-items: center;">
            {{ form_login.csrf_token }}
            <legend style="text-align: center; font-weight: bold; margin-top: 5%">LOGIN</legend>
            <fieldset>
                <div class="form-group">
                    {{ form_login.email_login.label(class="form-control-label") }}
                    {% if form_login.email_login.errors and 'botao_submit_login' in request.form %}
                        {{ form_login.email_login(class="form-control is-invalid", style="height:17pt;font-size=17pt;border-radius:12px;width:min(320px,97vw);border-color: #dc3545; padding: 0 0.75rem;") }}
                    <div class="invalid-feedback">
                        {% for erro in form_login.email_login.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form_login.email_login(class="form-control", style="height:17pt;font-size=17pt;border-radius:12px;width:min(320px,97vw);border-color: #055ca7; padding: 0 0.75rem;") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_login.senha_login.label(class="form-control-label") }}
                    {% if form_login.senha_login.errors and 'botao_submit_login' in request.form %}
                        {{ form_login.senha_login(class="form-control is-invalid", style="height:17pt;font-size=17pt;border-radius:12px;width:min(320px,97vw);border-color: #dc3545; padding: 0 0.75rem;") }}
                    <div class="invalid-feedback">
                        {% for erro in form_login.senha_login.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form_login.senha_login(class="form-control", style="height:17pt;font-size=17pt;border-radius:12px;width:min(320px,97vw);border-color: #055ca7; padding: 0 0.75rem;") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_login.lembrar_senha(class="form-check-input") }}
                    {{ form_login.lembrar_senha.label(class="form-check-label") }}
                </div>
            </fieldset>
            {{ form_login.botao_submit_login(style="margin-top: 10px ; color: #eee; font-size: 12pt; border-radius: 10px; font-family: Verdana; background-color: blue; background-attachment: fixed;") }}
        </form><br>
        <a href="{{ url_for('cadastro') }}" style="padding-left: 16%; text-decoration: underline; color: blue; cursor: revert">Não possui cadastro?</a>
    </div>
{% endblock %}
