<script>
  $(document).ready(function () {
      var table = $('#data').DataTable({
          language:{
              decimal: ",",
              processing: "Processando...",
              search: "Buscar:&nbsp",
              lengthMenu: "Mostrar _MENU_ linhas",
              info:           "Exibindo os elementos de _START_ a _END_ de _TOTAL_ elementos",
              infoEmpty:      "Exibindo 0 de 0 elementos",
              infoFiltered:   "(_MAX_ filtrados no total)",
              infoPostFix:    "",
              loadingRecords: "Carregando...",
              zeroRecords:    "N&atilde;o h&aacute; elementos para exibir",
              emptyTable:     "Nenhum dado dispon&iacute;vel na tabela",
              paginate: {
                  first:      "Primeiro",
                  previous:   "Anterior",
                  next:       "Pr&oacute;ximo",
                  last:       "&Uacute;ltimo"
              },
              aria: {
                  sortAscending:  ": Selecionar para classificar a coluna em ordem crescente",
                  sortDescending: ": Selecionar para classificar a coluna em ordem decrescente"
              }
          },
          initComplete: function () {
              this.api()
                  .columns()
                  .every(function () {
                      var column = this;
                      var select = $('<select><option value=""></option></select>')
                          .appendTo($(column.footer()).empty())
                          .on('change', function () {
                              var val = $.fn.dataTable.util.escapeRegex($(this).val());

                              column.search(val ? '^' + val + '$' : '', true, false).draw();
                          });

                      column
                          .data()
                          .unique()
                          .sort()
                          .each(function (d, j) {
                              select.append('<option value="' + d + '">' + d + '</option>');
                          });
                  });
          },
      });
      $('#dataInicial, #dataFinal').on('change', function() {
          var dataInicial = $('#dataInicial').val();
          var dataFinal = $('#dataFinal').val();
          table
              .columns('#col-data')
              .search(dataInicial + '-' + dataFinal)
              .draw();
      });
  });
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('form_planilha').addEventListener('submit', function (event) {
        // Exibir modal de carregamento
        $('#modal-planilha').modal('hide');
        $('#modal-loading').modal('show');
    });
});
</script>