<div style="margin: 8px 12px;">
    <div style="font-size: larger; margin-bottom: 8px"><b>{{ titulo }}</b></div>
    Bem vindo ao Roteiriza!
    <br><br>
    <strong>Como Funciona o Sistema de Roteirização</strong>

    <p><strong style="background-color: red"><i class="fa-solid fa-box"></i> Objetos:</strong> Nesta página, é possível vizualizar e cadastrar os itens que serão entregues. Cada item recebe uma data de entrada, o que permite definir a prioridade de entrega. É possível registrar uma descrição para facilitar a identificação, telefone do destinatário para contato em caso de necessidade, endereço para a roteirização e uma indicação do tamanho do item (grande ou pequeno, sendo o último indicado para entregas via moto).</p>

    <p>Além disso, é possível cadastrar múltiplos itens simultaneamente ao anexar uma planilha Excel na aba <a type="button" style="color: rgb(149, 190, 16);"><i class="fa-solid fa-plus"></i> Incluir </a>, utilizando o botão <button type="button" style="background-color: #6F42C1; color: white" data-dismiss="modal" class="close" data-toggle="modal" data-target="#modal-planilha" aria-label="Close"><span aria-hidden="true">Vários</span></button>. Há também a opção <a type="button" style="color: rgb(202, 40, 44);"><i class="fa-regular fa-trash-can"></i> Excluir tudo</a>, que remove todos os itens cadastrados.</p>

    <p><strong style="background-color: red"><i class="fa-solid fa-truck"></i> Veículos:</strong> Nesta seção, é vizualizado e cadastrado os veículos disponíveis para as entregas, incluindo a placa, apelido do veículo e a capacidade de transportar itens grandes. Como na seção de Objetos, há um botão <a type="button" style="color: rgb(202, 40, 44);"><i class="fa-regular fa-trash-can"></i> Excluir tudo</a> para remover todos os veículos registrados.</p>

    <p><strong style="background-color: red"><i class="fa-solid fa-route"></i> Rotas:</strong> Exibe as rotas geradas para cada veículo, com informações detalhadas e prontas para impressão em formato A4.</p>

    <p><strong style="background-color: red"><i class="fa-solid fa-gear"></i> Configurações:</strong> Permite configurar a capacidade de transporte dos veículos (furgão e moto), o tempo máximo de expediente do motorista, o tempo médio estimado para cada entrega, e o endereço base de partida e retorno dos veículos.</p>

    <p><strong style="background-color: red"><i style="padding: 2px; border-radius: 5px; background-color: #6610f2" class="fa-solid fa-arrows-rotate"></i> Gerar Rotas:</strong> Este botão processa e atualiza as rotas conforme os dados cadastrados, garantindo que o sistema opere com informações atualizadas.</p>

    <p><strong style="background-color: white; color: red;"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair:</strong> Utilizado para realizar o logout do sistema.</p>
</div>