<div class="modal fade" id="modal-editar{{ veiculo.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalEditar" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: min(300px, 98%)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditar">
                    Item: {{ veiculo.id }}
                    {% if veiculo.descricao  %}
                        ({{ veiculo.descricao }})
                    {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="">
                {{ form_editar_veiculo.csrf_token }}
                <div class="modal-body">
                    <fieldset>
                        <input type="hidden" id="id-form-editar" name="id-form-editar" value="{{ veiculo.id }}">
                        <div class="row" style="flex-direction: column">
                            {% for form, dado in zip(form_editar_veiculo, [veiculo.placa, veiculo.apelido]) if form.type not in ['SubmitField', 'CSRFTokenField', 'BooleanField'] %}
                                <div class="col" style="text-align: left; margin: 10px; font-size: 1.25rem;">
                                    {{ form.label() }}
                                    <br>
                                    {% if form.errors %}
                                        {{ form(value=dado, class="form-control is-invalid", style="min-height:37px; width: 235px; max-width: 100%; border-radius: 0px;") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form(value=dado, class="form-control", style="min-height:37px; width: 235px; max-width: 100%; border-color: rgb(133, 133, 133); border-radius: 0px;") }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="col" style="text-align: left; margin: 10px; font-size: 1.25rem;">
                                {{ form_editar_veiculo.cap_grande.label(style="vertical-align: super;") }}
                                {% if veiculo.cap_grande %}
                                {{ form_editar_veiculo.cap_grande(style="min-height:34px; width: 34px; max-width: 100%; border-color: rgb(133, 133, 133); border-radius: 0px;", checked="checked") }}
                                {% else %}
                                {{ form_editar_veiculo.cap_grande(style="min-height:34px; width: 34px; max-width: 100%; border-color: rgb(133, 133, 133); border-radius: 0px;") }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    {{ form_editar_veiculo.botao_alterar(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>